<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-dark">
            <nav class="navbar navbar-expand-md navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="/">Home</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="row w-100 collapse navbar-collapse " id="collapsibleNavbar">
                    <div class="col-5">

                        <!-- Links -->
                        <ul class="navbar-nav">

                            <!-- Cliente -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Cliente
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/cadastro_cliente/">Cadastro</a>
                                    <a class="dropdown-item" href="/lista_clientes/">Listagem</a>
                                </div>
                            </li>

                            <!-- Veiculo -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                                    Veiculo
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/cadastro_veiculo/">Cadastro</a>
                                    <a class="dropdown-item" href="/lista_veiculos/">Listagem</a>
                                </div>
                            </li>

                            <!-- Movimentacao -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                                    Movimentação
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/cadastro_mensalista/">Cadastro Mensalista</a>
                                    <a class="dropdown-item" href="/lista_mensalista/">Listagem Mensalista</a>
                                    <a class="dropdown-item" href="/cadastro_rotativo/">Cadastro Rotativo</a>
                                    <a class="dropdown-item" href="/lista_rotativo/">Listagem Rotativo</a>
                                </div>
                            </li>


                            <!-- Tabela -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                                    Tabela
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/cadastro_tabela/">Cadastro</a>
                                    <a class="dropdown-item" href="/lista_tabelas/">Listagem</a>
                                </div>
                            </li>

                            <!-- Marca -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown">
                                    Marca
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/cadastro_marca/">Cadastro</a>
                                    <a class="dropdown-item" href="/lista_marca/">Listagem</a>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <div class="col">
                        <form class="form-inline" method="post">
                            {%csrf_token%}
                            <input name='input_pesquisa' class="form-control mr-sm-2" type="text" placeholder="Search" >
                            <button class="btn btn-success" type="submit">Pesquisa</button>
                        </form>
                    </div>

                    <div class="col-4 bg-dark text-white d-flex justify-content-center align-items-center">
                        {% if user.get_username %}
                        Bem vindo(a) {{user.get_username }} (
                        <a href="/admin/">Admin</a> |
                        <a href="/accounts/logout/">Logout</a>)
                        {% else %}
                        Usuário(a) não autenticado(a) (
                        <a href="/accounts/login/">Login</a> |
                        <a href="/accounts/registrar/">Registrar</a>)

                        {% endif %}

                    </div>
                </div>
            </nav>

        </div>
    </div>
    {% block main %}
    {% endblock %}
</div>
</body>
</html>